<div id="content-header" class="column-header">
  <h1>Editing note</h1>
  <hr/>

  <div class="title_links">
    <%= link_to 'Back', @note.categorie %>
  </div>
</div>

<div id="content-content" class="column-content">
  <%= render :partial => 'note', :locals => {:note => @note} %>

  <hr/>

  <%= render 'form' %>
</div>
