<div style="position:relative;top:10px" class="actions">
  <%= link_to 'Back', @note.categorie %>
</div>

<h1>Editing note</h1>
<hr/>

<%= render :partial => 'note', :locals => {:note => @note} %>

<hr/>

<%= render 'form' %>
