/* 
    Document   : main
    Created on : 19 avr. 2011, 11:29:29
    Author     : fsdz0585
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Layout */

#links_area {
  float: left;
}

#search_area {
  text-align: right;
}

#categories_navigation {
  float: left;
  width: 300px;
}

#main_page {
  float: left;
  left: 300px;
  width: 600px;
}

#right_side {
  float: left;
  left: 600px;
  width: 200px;
  height: 500px;
/*  border: solid black 1px;*/
}

/* Autre */

body {
  font-family: Verdana,Helvetica,Arial;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
}



hr {
  background-color: #D8D8D8;
  border-width: 0px;
  height: 1px;
}

hr.section {
  background-color: black;
  height: 1px;
  width: 40%;
}

.note {
}

.note h1 {
  font-size: 16px;
}

.note h2 {
  margin-bottom: 0px;
}

.note hr {
  margin-top: 0px;
}

#preview {
  padding-bottom: 20px;
}

.actions{
  float:right;
}
