/* 
    Document   : main
    Created on : 19 avr. 2011, 11:29:29
    Author     : fsdz0585
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Layout */

#en-tete {
  padding: 20px 0;
}

#links_area {
}

#search_area {
  float:right;
}

#content{
  position: relative;
	width: 100%;
}

#categories_navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
/*  background-color: red;*/
}

#main_page {
  margin-left: 320px;
	margin-right: 320px;
	padding-top: 1px;
/*	background-color: grey;*/
}

#right_side {
  position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}

/* Autre */

body {
  font-family: Verdana,Helvetica,Arial;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
/*  background-color: blue;*/
}

h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
}

hr {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #D8D8D8;
  border-width: 0px;
  height: 1px;
}

hr.section {
  background-color: black;
  height: 1px;
  width: 40%;
}

.note {
  padding: 10px;
  background-color: #F4F39E;
  margin-bottom: 20px;
}

.note h1 {
  font-size: 16px;
}

.note h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.note hr {
  margin-top: 0px;
}

#preview {
  padding-bottom: 20px;
}

.actions{
/*  float:right;*/
  vertical-align: text-bottom;
}
