// Positionnement des différentes sections de la page

//.full_height
//  display: block
//  position: absolute
//  height: auto
//  bottom: 0
//  top: 0
//  left: 0
//  right: 0

#head
  overflow: auto

#toc
  width: 300px
  float: right
  margin-left: 10px

#content
  margin-left: 310px
  margin-right: 310px

#navigation
  float: left
  width: 300px
