<% if categorie.categories.empty? %>
<li>
<% else %>
<li class="folder expanded">
  <div class="folder-toggle"></div>
<% end %>
  <%= link_to "#{categorie.nom} (#{categorie.notes.count})", categorie %>
  <% unless categorie.categories.empty? %>
    <ul>
      <% categorie.categories.order('nom ASC').each do |c| %>
        <%= render :partial => "categories/navigation_menu", :locals => { :categorie => c } %>
      <% end %>
    </ul>
  <% end %>
</li>
