<h1>Categories</h1>
<hr class="links"/>

<div class="subnav">
  <ul class="nav nav-pills">
    <li><%= link_to 'Nouvelle Categorie',  new_categorie_path %>
  </ul>
</div>

<div id="navigation-tree"></div>

<script type="text/javascript">
  var data2 = <%=raw jqtree.to_json %>;
  
  $(function() {
    $('#navigation-tree').tree({
      data: data2,
      saveState: 'navigation_tree'
    });
  });
</script>
