<h2>Listes non ordonnées</h2>
    
<p>
  * It's easier on the eyes
  <br/>
  ** By not writing the tags yourself
</p>

<ul>
  <li>It's easier on the eyes
    <ul>
      <li>By not writing the tags yourself
    </ul>
  </li>
</ul>

<hr/>

<h2>Listes ordonnées</h2>
    
<p>
  # Gather bread, peanut butter, and jelly
  <br/>
  # Slice the bread if necessary
  <br/>
  ## Slice the bread if necessary
</p>

<ol>
  <li>Gather bread, peanut butter, and jelly
  <li>Slice the bread if necessary
    <ol>
      <li>Slice the bread if necessary
    </ol>
  </li>
</ol>
